<div>
    <h2 id="page-heading">
        <span jhiTranslate="mobileCfApp.dailyRecording.home.title">Daily Recordings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-daily-recording" [routerLink]="['/daily-recording/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mobileCfApp.dailyRecording.home.createLabel">
            Create a new Daily Recording
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="dailyRecordings?.length === 0">
        <span jhiTranslate="mobileCfApp.dailyRecording.home.notFound">No dailyRecordings found</span>
    </div>
    <div class="table-responsive" *ngIf="dailyRecordings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mobileCfApp.dailyRecording.flockNumber">Flock Number</span></th>
            <th><span jhiTranslate="mobileCfApp.dailyRecording.itemCode">Item Code</span></th>
            <th><span jhiTranslate="mobileCfApp.dailyRecording.quantity">Quantity</span></th>
            <th><span jhiTranslate="mobileCfApp.dailyRecording.comment">Comment</span></th>
            <th><span jhiTranslate="mobileCfApp.dailyRecording.createdBy">Created By</span></th>
            <th><span jhiTranslate="mobileCfApp.dailyRecording.createdOn">Created On</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dailyRecording of dailyRecordings ;trackBy: trackId">
                <td><a [routerLink]="['/daily-recording', dailyRecording.id, 'view' ]">{{dailyRecording.id}}</a></td>
                <td>{{dailyRecording.flockNumber}}</td>
                <td>{{dailyRecording.itemCode}}</td>
                <td>{{dailyRecording.quantity}}</td>
                <td>{{dailyRecording.comment}}</td>
                <td>{{dailyRecording.createdBy}}</td>
                <td>{{dailyRecording.createdOn | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/daily-recording', dailyRecording.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/daily-recording', dailyRecording.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/daily-recording', { outlets: { popup: dailyRecording.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
