<div>
    <h2 id="page-heading">
        <span jhiTranslate="mobileCfApp.mrn.home.title">Mrns</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mrn" [routerLink]="['/mrn/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mobileCfApp.mrn.home.createLabel">
            Create a new Mrn
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mrns?.length === 0">
        <span jhiTranslate="mobileCfApp.mrn.home.notFound">No mrns found</span>
    </div>
    <div class="table-responsive" *ngIf="mrns?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mobileCfApp.mrn.vehicleNumber">Vehicle Number</span></th>
            <th><span jhiTranslate="mobileCfApp.mrn.dCDate">D C Date</span></th>
            <th><span jhiTranslate="mobileCfApp.mrn.dCNumber">D C Number</span></th>
            <th><span jhiTranslate="mobileCfApp.mrn.postingDate">Posting Date</span></th>
            <th><span jhiTranslate="mobileCfApp.mrn.pONumber">P O Number</span></th>
            <th><span jhiTranslate="mobileCfApp.mrn.itemNumber">Item Number</span></th>
            <th><span jhiTranslate="mobileCfApp.mrn.avgWeight">Avg Weight</span></th>
            <th><span jhiTranslate="mobileCfApp.mrn.condition">Condition</span></th>
            <th><span jhiTranslate="mobileCfApp.mrn.createdBy">Created By</span></th>
            <th><span jhiTranslate="mobileCfApp.mrn.itemRecieved">Item Recieved</span></th>
            <th><span jhiTranslate="mobileCfApp.mrn.flockNumber">Flock Number</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mrn of mrns ;trackBy: trackId">
                <td><a [routerLink]="['/mrn', mrn.id, 'view' ]">{{mrn.id}}</a></td>
                <td>{{mrn.vehicleNumber}}</td>
                <td>{{mrn.dCDate | date:'mediumDate'}}</td>
                <td>{{mrn.dCNumber}}</td>
                <td>{{mrn.postingDate | date:'mediumDate'}}</td>
                <td>{{mrn.pONumber}}</td>
                <td>{{mrn.itemNumber}}</td>
                <td>{{mrn.avgWeight}}</td>
                <td>{{mrn.condition}}</td>
                <td>{{mrn.createdBy}}</td>
                <td>{{mrn.itemRecieved}}</td>
                <td>{{mrn.flockNumber}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/mrn', mrn.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mrn', mrn.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mrn', { outlets: { popup: mrn.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
