<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-purchase-order-heading" jhiTranslate="mobileCfApp.purchaseOrder.home.createOrEditLabel">Create or edit a Purchase Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileCfApp.purchaseOrder.farmerName" for="field_farmerName">Farmer Name</label>
                    <input type="text" class="form-control" name="farmerName" id="field_farmerName"
                           formControlName="farmerName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileCfApp.purchaseOrder.flockNumber" for="field_flockNumber">Flock Number</label>
                    <input type="text" class="form-control" name="flockNumber" id="field_flockNumber"
                           formControlName="flockNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileCfApp.purchaseOrder.pONumber" for="field_pONumber">P O Number</label>
                    <input type="text" class="form-control" name="pONumber" id="field_pONumber"
                           formControlName="pONumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileCfApp.purchaseOrder.itemName" for="field_itemName">Item Name</label>
                    <input type="text" class="form-control" name="itemName" id="field_itemName"
                           formControlName="itemName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileCfApp.purchaseOrder.itemID" for="field_itemID">Item ID</label>
                    <input type="text" class="form-control" name="itemID" id="field_itemID"
                           formControlName="itemID"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileCfApp.purchaseOrder.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileCfApp.purchaseOrder.supplierName" for="field_supplierName">Supplier Name</label>
                    <input type="text" class="form-control" name="supplierName" id="field_supplierName"
                           formControlName="supplierName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileCfApp.purchaseOrder.transpoterName" for="field_transpoterName">Transpoter Name</label>
                    <input type="text" class="form-control" name="transpoterName" id="field_transpoterName"
                           formControlName="transpoterName"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
